.filters-bg {
	background-color: color(grey-light-1);
}

.filters {
	max-width: var(--page-container-width);
	padding: 2.8rem 0;
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: min-content;
	gap: 1.8rem;

	// override bs's reboot
	p {
		margin-bottom: 0;
	}

	&__item {
		display: flex;
		justify-content: flex-end;
		// grid-column: -1;

		& > :not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__filter {
		width: 10rem;
	}
	&__sort {
		width: 14rem;
	}

	&__search {
		grid-column: 1 / -1;
		position: relative;
	}
	// override bs right border-radius
	.input-group > .form-control:not(:last-child) {
		border-radius: var(--border-round);
	}
	&__search-btn {
		$button-size: 2rem;
		position: absolute;
		top: calc((100% - #{$button-size}) / 2);
		right: 1rem;
		width: $button-size;
		height: $button-size;
		background-color: color(grey-light-3);
		color: color(grey-dark-2);
		border-radius: 50%;
		z-index: 100; // not sure what bs do to input's z-index when focused

		&:hover {
			color: color('white');
		}
	}

	&__chip {
		display: flex;
		align-items: center;

		& > :not(:last-child) {
			margin-right: 0.8rem;
		}
	}
}
