.header {
	margin: 0 auto;

	&__top-bg {
		background-color: color(grey-light-1);
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: var(--page-container-width);
		margin: 0 auto;
		padding: 0.7rem 1.25rem;

		.support {
			&--time {
				color: color(grey-dark-1);
			}
		}

		.profile {
			display: flex;
			align-items: center;

			&__img {
				border-radius: 50%;
				width: 2rem;
				height: 2rem;
				object-fit: cover;

				margin-right: 0.7rem;
				cursor: pointer;
			}

			&__name {
				margin-right: 2rem;
				font-weight: 600;
			}
		}

		.notification {
			cursor: pointer;
		}
	}

	&__main {
		// Display & Box Model
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 3rem;
		max-width: var(--page-container-width);
		margin: 0 auto;
	}
	&__search {
		width: 35rem;
	}
}
