// if class name is 'ads' ads blocker will remove it
.notads {
    display: grid;
    grid-auto-rows: min-content;

    &__img {
        width: 21rem;
        height: 11rem;
        object-fit: cover;
        border-radius: var(--border-round);
    }
}