// Tight deadline. Using bootstrap for now
.btn {
    // background-color: color(primary);
    // color: #fff;
    // border: none;
    // border-radius: 0;
    // font-family: var(--font-display);
    // font-size: 1.5rem;
    // text-transform: uppercase;
    // // padding: 1rem 1.5rem;
    // cursor: pointer;
    // transition: all .2s;
    text-transform: uppercase;
    color: color('white');

    &:hover {
        color: color('white');
    }

    &--orange {
        background-color: color(primary);
    }

    &--orange:hover {
        background-color: color(primary-dark);
    }
}
