@mixin btnBase() {
	// background-color: color(primary);
	// color: #fff;
	// font-family: var(--font-display);
	// font-size: 1.5rem;
	// text-transform: uppercase;
	border: 0.1rem solid transparent;
	padding: 0.5rem 1.3rem;
	// cursor: pointer;
	transition: all 0.2s;
	font-size: 1.35rem;
	// text-transform: uppercase;
	color: color('white');
	background-color: color(primary-dark);
	border-radius: var(--border-round);
	overflow: hidden;
}

.btn {
	@include btnBase();

	&__icon {
		margin-right: 0.75rem;
	}

	&:hover {
		color: color('white');
		background-color: color(primary);
	}
	&:focus {
		box-shadow: none; // override bs
	}

	&--padding-sm {
		display: inline-block;
		text-align: center;
		padding: 0.375rem 0.75rem;
	}
	&--bold {
		font-weight: 600;
	}

	&--orange {
		border-color: color(primary-dark);
		background-color: color(primary-dark);
		color: color('white');
	}

	&--white {
		border: solid 1px color(grey-light-2);
		background-color: color('white');
		color: color(grey-dark-1);
	}
	&--white:active,
	&--white:focus,
	&--white:hover {
		border-color: color(grey-dark-2);
		background-color: color(grey-dark-2);
		color: color('white');

		// override bootstrap blue box-shadow
		box-shadow: none;
	}
	&--grey {
		background-color: color(grey-light-3);
		color: color(grey-dark-2);
	}
}

.btn-chip {
	@include btnBase();

	display: inline-flex;
	background-color: color(grey-light-3);
	color: color(grey-dark-2);

	&__label {
		margin-right: 1.2rem;
	}

	&__btn {
		color: currentColor;
		border: none;
		background-color: transparent;
		transition: color 0.25s, transform 0.25s;
	}
	&__btn:focus,
	&__btn:active {
		outline: none;
		transform: translateY(0.1rem);
	}
	&__btn:hover {
		color: color(primary-dark);
	}
}

.btn-link {
	border: none;
	background-color: transparent;
	color: color(grey-dark-1);
	font-size: inherit;
	transition: all 0.2s;

	display: flex;
	justify-content: center;

	@include underlineExpandAnimation(0.2s);

	&:hover,
	&:focus {
		outline: none;
		color: color(primary);
		// override bs hover
		text-decoration: none;
	}

	&:active {
		transform: translateY(0.1rem);
	}
}

.btn-text {
	border: none;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	transition: all 0.2s;
	outline: color(primary);

	&:hover,
	&:focus,
	&:active {
		outline: none;
		color: color(primary);
	}

	&--highlight {
		padding: 0.5rem 1rem;

		&:hover {
			transform: translateY(-0.3rem);
			background-color: color(primary);
			color: color('white');
		}

		&:focus {
			outline: color(primary) solid 0.1rem;
		}

		&:active {
			transform: translateY(0.1rem);
		}
	}
}

.btn-facebook,
.btn-youtube,
.btn-twitter {
	width: 3rem;
	height: 3rem;
	border: none;
	border-radius: 50%;
	color: color('white');
	transition: all 0.4s;

	&:hover {
		background-color: color('white');
		box-shadow: var(--shadow-dark);
		@include applyScale() {
			transform: scale(1.048) rotate(360deg);
		}
	}
}

.btn-facebook {
	background-color: #4267b2;
	&:hover {
		color: #4267b2;
	}
}
.btn-youtube {
	background-color: #ff0000;
	&:hover {
		color: #ff0000;
	}
}
.btn-twitter {
	background-color: #1da1f2;
	&:hover {
		color: #1da1f2;
	}
}
