.btn {
	// background-color: color(primary);
	// color: #fff;
	// border-radius: 0;
	// font-family: var(--font-display);
	// font-size: 1.5rem;
	// text-transform: uppercase;
	// // padding: 1rem 1.5rem;
	// cursor: pointer;
	// transition: all .2s;
	font-size: 1.35rem;
	// text-transform: uppercase;
	color: color('white');
	background-color: color(primary-dark);
	border-radius: var(--border-round);
	overflow: hidden;

	&:hover {
		color: color('white');
		background-color: color(primary);
	}
	&:focus {
		box-shadow: none; // override bs
	}

	&--orange {
		border-color: color(primary-dark);
		background-color: color(primary-dark);
		color: color('white');
	}

	&--white {
		border: solid 1px color(grey-light-2);
		background-color: color('white');
		color: color(grey-dark-1);
	}
	&--white:hover {
		border-color: color(primary-dark);
		background-color: color(primary-dark);
		color: color('white');
	}
	&--white:active,
	&--white:focus {
		border-color: color(primary-dark);

		// override bootstrap blue box-shadow
		box-shadow: none;
	}
}

.btn-link {
	border: none;
	background-color: transparent;
	color: color(grey-dark-1);
	font-size: inherit;
	transition: all 0.2s;

	display: flex;
	justify-content: center;

	@include underlineExpandAnimation(0.2s);

	&:hover,
	&:focus {
		outline: none;
		color: color(primary);
		// override bs hover
		text-decoration: none;
	}

	&:active {
		transform: translateY(0.1rem);
	}
}

.btn-text {
	border: none;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	padding: 0.5rem 1rem;
	transition: all 0.2s;
	outline: color(primary);

	&:hover {
		transform: translateY(-0.3rem);
		background-color: color(primary);
		color: color('white');
	}

	&:focus {
		outline: color(primary) solid 0.1rem;
	}

	&:active {
		transform: translateY(0.1rem);
	}
}

.btn-facebook,
.btn-youtube,
.btn-twitter {
	width: 3rem;
	height: 3rem;
	border: none;
	border-radius: 50%;
	color: color('white');
	transition: all 0.4s;

	&:hover {
		background-color: color('white');
		box-shadow: var(--shadow-dark);
		@include applyScale() {
			transform: scale(1.048) rotate(360deg);
		}
	}
}

.btn-facebook {
	background-color: #4267b2;
	&:hover {
		color: #4267b2;
	}
}
.btn-youtube {
	background-color: #ff0000;
	&:hover {
		color: #ff0000;
	}
}
.btn-twitter {
	background-color: #1da1f2;
	&:hover {
		color: #1da1f2;
	}
}
