.card {
    background-color: color(grey-light-1);
    border-color: color(grey-light-1);
	border-radius: var(--border-round);
    padding: 1.25rem 1.5rem;

    &--white {
        background-color: color('white');
    }
}