.card {
    background-color: color(grey-light-1);
    border-color: color(grey-light-1);
	border-radius: var(--border-round);
    padding: var(--card-padding);

    &--no-padding {
        padding: 0;
    }

    &--white {
        background-color: color('white');
    }
}