// react-slick package
.slick-slide {
	// dont know why carousel item is not centered by default
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
}

.arrow-left,
.arrow-right {
	&::before {
		transition: all 0.25s ease-out;
		color: color(primary);
	}
}
