.exam-card {
	display: inline-flex;
	width: 21rem;
	transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;

	&__img {
		border-top-right-radius: inherit;
		border-top-left-radius: inherit;
		object-fit: cover;
		height: 11rem;
	}

	& > :not(img) {
		padding: var(--card-padding);
	}

	&__date {
		font-size: 1.1rem;
	}

	&:hover {
		@include applyScale() {
			transform: scale(1.075);
		}
		box-shadow: var(--shadow-light);
	}

	p {
		// override bs reboot
		margin-bottom: 0;
	}
}
