// override bs's input
.input-group {
	& > .form-control {
		border-radius: var(--border-round);
		padding: 1.1rem 1.5rem;
		font-size: 1.3rem;
    }

    // resizing should not collapse textfield at all
    & > textarea.form-control {
		min-height: 4.3rem;
		resize: none;
    }
}

input[type='text'] {
	height: 3.3rem;
}

.input-group {
	// override bs
	width: auto;
}
