.pagination {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, min-content) repeat(7, 3.3rem) repeat(2, min-content);
	grid-template-rows: repeat(auto-fit, 3.3rem);
    column-gap: 0.4rem;

    &__3dot {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
