.question-card {
	// title for radio group
	&__opt-text {
        color: color(grey-dark-1);
        margin-top: 1rem;
		margin-bottom: 0.7rem;

		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}

	// yarn add @material-ui/core

	// radio button group
	.MuiFormGroup-root {
		display: grid;
		justify-content: flex-start;
	}

	// radio button {
	.MuiFormControlLabel-root {
		margin-bottom: 0;
	}

	// radio nipple
	.MuiRadio-root {
		padding: 0.5rem;
		margin-left: 0.5rem;
	}

	// radio nipple icon
	.MuiSvgIcon-root {
		font-size: 1.75rem; // a bit bigger than normal
	}

	// radio button text
	.MuiFormControlLabel-label {
		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}
}
