.question-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 3rem);
	// grid-template-rows: repeat(auto-fit, 3rem) min-content;
	gap: 0.4rem;

	padding: 2rem;

    // small buttons for each question numbers
	&__index {
		width: 3rem;
        height: 3rem;
        padding: 0;
        font-size: 1.3rem;
	}

	&__submit {
		padding: 0.7rem 1.5rem;
		margin-top: 2.2rem;
		grid-column: 1 / -1;
	}
}
