.qs-preview-list {
    .line {
        margin: 3rem 0;
    }
}

.qs-preview-item {
    display: flex;
    position: relative;

	&__side {
		text-align: center;
		flex: 0 0 7rem;
		margin-right: 1.9rem;

		&__number {
			font-size: 1.6rem;
		}

		&__text {
			font-size: 1rem;
		}

		&__subtext {
			font-size: 0.8rem;
		}
	}

	&__title {
		color: #005999;
	}

	&__subject {
		font-weight: 600;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	&__tags {
		display: flex;
		align-items: flex-start;

		& > :not(:last-child) {
			margin-right: 0.7rem;
		}
	}

	&__user {
        display: grid;
		grid-template-columns: min-content 1fr;
        column-gap: 0.7rem;

        width: 12rem;
	}

	&__date {
		grid-column: 1 / -1;
		font-size: 0.9rem;
	}

	&__user-avatar {
		grid-row: 2 / 4;

		margin-top: 0.58rem;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
	}

	&__user-name {
		margin-top: 0.58rem;
		font-size: 1rem;
		font-weight: 600;
	}

	&__user-level {
		font-size: 1rem;
	}

	&__more {
		position: absolute;
		top: 0;
		right: 0;
	}
}
