.score-card {
	$border-color: color(grey-light-3);

	border: solid 0.1rem $border-color;
	border-radius: var(--border-round);

	background-image: url($image-path+'congrats.jpg');
	background-color: transparentize(map-get($colors, 'white'), 0.1);
	background-blend-mode: overlay;
	background-size: cover;

	text-align: center;

	&__heading {
		margin-top: 0.9rem;
		// .line's vertical margin is .5rem
		margin-bottom: 0.3rem; // override bs heading default;
	}

	&__content {
		padding-bottom: 0.5rem;
	}

	&__score {
		font-size: 3.6rem;
		font-weight: 600;
	}

	&__date {
		font-size: 0.9rem;
	}

	&__bottom {
		display: flex;

		& > * {
            padding: 0.8rem .5rem;
            padding-bottom: .5rem;
			flex: 1;
		}

		& > :first-child {
			border-right: solid .1rem $border-color;
		}

		&__label {
			font-size: 1rem;
		}

		&__value {
			font-size: 2rem;
			font-weight: 600;
		}
	}
}
