// yarn add react-tabs
.react-tabs__tab-list {
	color: inherit;
	font-family: inherit;
    border-bottom: solid 0.1rem color(grey-light-2);
}

.react-tabs__tab {
	border: none;

	&--selected {
		color: color(primary-dark);
		font-weight: 600;
		border-bottom: solid 0.2rem color(primary);
	}
}
