.page-container {
    // Display & Box Model
    // TODO: change back to .3rem
    border-radius: 1rem;
    height: 60rem; // TODO: remove
    margin: 4rem auto;
    max-width: 99rem;

    // Color
    background-color: color('white');
    box-shadow: var(--shadow-dark);
}
