// https://codepen.io/jakealbaugh/post/css4-variables-and-sass
// Use SASS variable and convert to CSS variable when built because CSS variable
// is known at runtime -> cannot pass to SASS color functions
//
// For this to work, store all SASS colors in a map
//
// $colors: (
//   primary: #FFBB00,
//   secondary: #0969A2
// );
//
// then put these lines in :root psuedo element
//
//  @each $name, $color in $colors {
//    --color-#{$name}: $color;
//  }
@function color($color-name) {
    @return var(--color-#{$color-name});
}
