$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

/// [underlineExpandAnimation] will expand the underline from
/// the center to 2 ends when the element is hovered or focused
///
/// $duration: animation duration in seconds
/// $color: underline color
/// $lineHeight: underline height
@mixin underlineExpandAnimation(
	$duration,
	$color: color(primary),
	$lineHeight: 0.1rem
) {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		display: block;
		background-color: $color;
		width: 0;
		height: $lineHeight;
		margin: 0 auto;

		bottom: 0;
		transition: width $duration;
	}

	&:hover:before {
		width: 100%;
	}
	&:focus:before {
		width: 100%;
	}
}
