body {
    font-family: var(--font-primary);
    font-size: 1.3rem;
    line-height: 1.5;
}

%heading {
    font-family: var(--font-display);
    font-weight: 400;
    color: color(grey-dark-3);
    line-height: 1.4;
}

.h1 {
    @extend %heading;

    font-size: 4rem;
    font-weight: 600;

    &--orange {
        color: color(primary-dark);
    }
}

.h2 {
    @extend %heading;

    &--sub {
        color: color(grey-dark-1);
        font-size: 1.2rem;
    }
}

.h3 {
    @extend %heading;
}

.h4 {
    @extend %heading;
}


.input {
    font-size: 1.3rem;
}