.mr-tn { margin-right: .5rem; }
.ml-tn { margin-left: .5rem; }
.mb-tn { margin-bottom: .5rem; }

.mr-sm { margin-right: 2rem; }
.ml-sm { margin-left: 2rem; }
.mb-sm { margin-bottom: 2rem; }

.mr-md { margin-right: 3rem; }
.ml-md { margin-left: 3rem; }
.mb-md { margin-bottom: 3rem; }

.mr-lg { margin-right: 4rem; }
.ml-lg { margin-left: 4rem; }
.mb-lg { margin-bottom: 4rem; }

.mr-hg { margin-right: 8rem; }
.ml-hg { margin-left: 8rem; }
.mb-hg { margin-bottom: 8rem; }
